.product {
    background-color: $block_background;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    .title {
        @include line-clamp(2);
        margin: 10px 0;
        font-size: 14px;
        line-height: 13px;
        letter-spacing: .01px;
        font-weight: 600;
        flex: 1;
        color: $block_text_color;
    }
    .preview {
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        aspect-ratio: 1;
    }
    .price {
        background-color: $second_action_button_background;
        color: $button_text_color;
        border-radius: 20px;
        height: 36px;
        font-size: 13px;
        font-weight: 600;
        justify-self: end;
        padding: 7px 32px;
        width: fit-content;
    }
    &:hover {
        .price {
            background-color: $second_action_button_background_hover;
        }
    }
}