// backgrounds
$app_background: #f2f2f2;
$block_background: #ffffff;
$input_background: #f2f2f2;
$h_input_background: #e0e0e0;
$action_button_background: #ff335f;
$modal_background: rgba(0, 0, 0, .5);

// colors
$icon_color: #404040;
$primary_text_color: #404040;
$second_text_color: #88918f;